*{
    box-sizing: border-box;
}
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #252525;
}

/*html5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
    display: block;
    width: 1300px;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style starts*/
body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #252525;
}

a:hover{
    color: none;
}

a:visited{
    color:none;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    margin: 0px auto;
}

header{
    width: 100%;
    height: 810px;
    padding: 20px 20px;
    background-color: rgb(51, 153, 73);
    background-image: url(https://img.freepik.com/free-photo/large-green-leaves-tropical-monstera-light-gray-background-with-copy-space-closeup-selective-focus-scandinavian-style-room-interior_166373-2141.jpg?w=1800&t=st=1685476858~exp=1685477458~hmac=1204dd7…);
    /* filter: brightness(0.7); */
    background-color: rgb(227, 227, 227);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

header > .menu > ul{
    padding: 0px;
    margin: 0px;
}

header > .menu > ul > li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
    font-size: large;
}

header > .menu > ul > li > a{
    color: #ffffff !important;
}

header > .center-content > h1{
    font-size: x-large;
    color: #ffffff;
    width: 45%;
}
header > .center-content > p {
    font-size: medium;
    color: #ffffff;
    width: 45%;
    line-height: 2;
}

.btn{
    padding: 10px 20px;
    font-size: small;
    font-family: sans-serif;
    background-color: rgb(27, 49, 31);
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.btn:hover{
    font-size: large;
}

.take-care{
    padding: 50px 10px;
    display: flex;
    width: 70%;
    gap: 50px;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.take-care > .description > h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
}

.take-care > .description > p{
    line-height: 2;
    font-size: medium;
}

.vine-tree{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 0px 0px 50px 0px;
}

.vine-tree > div{
    width: 350px;
}

.vine-tree > .right-side-text > h1{
    font-size: larger;
    font-weight: bold;
}

.vine-tree > .right-side-text > p{
    font-size: medium;
    line-height: 2;
}

.vine-tree > .left-side-text > h1{
    font-size: 50px;
    font-weight: bold;
}

.vine-tree > .left-side-text > p{
    line-height: 2;
}

.choose-our-plants{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
}

.choose-our-plants > .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.choose-our-plants > .title > h1{
    font-size: xx-large;
    font-weight: bold;
}

.choose-our-plants > .title > button{
    background: none;
    border: none;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.choose-our-plants > .title > button > *{
    margin: 0px 0px 0px 5px;
}

.choose-our-plants > .menu > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.choose-our-plants > .menu > ul > .under{
    border-bottom: 2px solid rgb(27, 49, 31);
    padding: 0px 0px 10px 0px;
}

.choose-our-plants > .shop-advice{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.choose-our-plants > .shop-advice > .plant-for-sale{
    background-color: rgb(224, 227, 232);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.choose-our-plants > .shop-advice > .plant-for-sale > img{
    border-radius: 10px;
}

.choose-our-plants > .shop-advice > .plant-for-sale > .description{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.house-plants{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
}

.top-content > .title{
    grid-area: title;
    font-size: 122px;
    font-weight: bold;
    margin: 0px;
}
.top-content > .image-of-top-content{
    grid-area: image;
}
.top-content > .description-top-content-first{
    grid-area: describe1;
    line-height: 2;
    width: 60%;
}
.top-content > .description-top-content-second{
    grid-area: describe2;
    line-height: 2;
    width: 60%;
}

.house-plants > .top-content{
    display: grid;
    grid-template-areas:
        "title title image"
        "describe1 describe2 image";
    gap: 30px;
    align-items: start;
    justify-items: start;
    align-content: stretch;
    justify-content: start;
}

.house-plants > .top-content > *{
    padding: 0px;
}

.house-plants > .bottom-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 80px;
}

.house-plants > .bottom-content > .offer{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.house-plants > .bottom-content > .offer > .text-of-offer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: center;
}

.house-plants > .bottom-content > .offer > .text-of-offer > .text{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.house-plants > .bottom-content > .offer > .text-of-offer > .text > p{
    line-height: 2;
}

.house-plants > .bottom-content > .offer > .text-of-offer > .text > h1{
    font-size: xx-large;
    font-weight: bold;
    margin: 0px;
}

.join-to-community{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

.join-to-community > .title{
    width: 60%;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
}

.join-to-community > .description-for-join{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.join-to-community > .description-for-join > .left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 30px;
}

.join-to-community > .description-for-join > .left > .title{
    font-size: 40px;
    font-weight: bold;
    width: 60%;
    margin: 0px;
}

.join-to-community > .description-for-join > .left > .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 70%;
    gap: 30px;
}

.join-to-community > .description-for-join > .left > .bottom > .join-now{
    line-height: 2;
}

footer{
    background-color: #e0e3e8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px 0px;
}

footer > .footer-objects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1300px;
}

footer > .footer-objects > .menu-footer{
    padding: 0px 0px;
}

footer > .footer-objects > .menu-footer > ul{
    padding: 10px 0px;
    margin: 0px;
}

footer > .footer-objects > .menu-footer > ul > li{
    padding: 10px 0px;
}

footer > .footer-objects > .menu-footer > .title{
    font-size: large;
    font-weight: bold;
}

footer > .footer-objects > .menu-footer > .title-large{
    font-size: xx-large;
    font-weight: bold;
}

footer > .footer-objects > .menu-footer > p{
    line-height: 2;
    display: block;
    width: 49%;
}