*{
    box-sizing: border-box;
}
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #252525;
}

/*html5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style starts*/
body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #252525;
}

a:hover{
    color: none;
}

a:visited{
    color:none;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    margin: 0px auto;
}

header{
    width: 100%;
    height: 810px;
    padding:  20px 20px;
    background-color: rgb(51, 153, 73);
    background-image: url("https://img.freepik.com/free-photo/large-green-leaves-tropical-monstera-light-gray-background-with-copy-space-closeup-selective-focus-scandinavian-style-room-interior_166373-2141.jpg?w=1800&t=st=1685476858~exp=1685477458~hmac=1204dd7c7bebd91bffd9af26d86db12eef56d0dd5d2e20559533ef6ed14273c0");
    /* filter: brightness(0.7); */
    background-color: rgb(227, 227, 227);
background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
}

header > .menu > ul{
    padding: 0px;
    margin: 0px;
}

header > .menu > ul > li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
    font-size: large;
}

header > .menu > ul > li > a{
    color: #ffffff !important;
}
